@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('FiraSans-Regular'), url(fonts/FiraSans-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(fonts/FiraSans-Bold.woff2) format('woff2');
}
.fullspace,
.bespoke-parent,
.bespoke-scale-parent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body {
  background: #EAEAE7;
  color: #333;
  font-family: 'Fira Sans', sans-serif;
}
p,
li {
  margin: 0.5em 0;
  line-height: 1.25em;
}
a {
  text-decoration: none;
  color: #333;
  box-shadow: inset 0 -5px #FF4E00;
}
a:hover {
  background: #FF4E00;
}
h1,
h2 {
  text-shadow: 0 2px 0 #ffffff;
  color: #333;
}
section > h1 {
  font-size: 1.8em;
  margin: 0;
}
.bespoke-parent {
  overflow: hidden;
}
.bespoke-scale-parent {
  pointer-events: none;
}
.bespoke-active {
  pointer-events: auto;
}
.bespoke-slide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1280px;
  height: 720px;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 2em;
  font-size: 3em;
  transition: opacity 0.5s ease;
}
.bespoke-slide > * {
  display: block;
  width: 100%;
}
.bespoke-active {
  transition-delay: 0.6s;
  opacity: 1;
}
.bespoke-inactive {
  opacity: 0;
}
.bespoke-slide ul,
.bespoke-slide ol,
.bespoke-slide dl {
  margin-left: 0;
  padding-left: 1em;
  width: calc(99%);
  text-align: left;
}
.bespoke-bullet {
  transition: opacity 0.3s ease;
}
.bespoke-bullet.mutex {
  display: none;
}
.bespoke-bullet-inactive {
  opacity: 0;
}
.bespoke-bullet-current.mutex {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 0.8em;
}
#demo a {
  display: inline-block;
  box-shadow: none;
  background: none;
}
pre[class*="language-"] {
  font-size: 0.7em;
  line-height: 1em;
  padding: 1em;
  border-radius: 0.3em;
}
